:root {
  --blue: #439b89;
  --off-white: #f7f7f7;
  --grey: #333;
  --medium-grey: #666;
  --light-grey: #bbb;
}

/* REUSABLE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ddd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--off-white);
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--grey);
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

h4 {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
}

h5 {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

input {
  padding-left: 10px;
  color: #333;
}

button {
  color: #333;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.inline {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #333;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: #999 solid 2px;
}

.wide {
  width: 700px;
}

.wide h3 {
  margin-left: 20px;
}

.slim {
  width: 400px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
}

a {
  text-decoration: none;
}

.btn-stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: max-content;
  margin: 20px auto;
}

.links {
  background-color: #bbb;
  border: #999 solid 2px;
  margin: 20px 10px;
  padding: 20px 15px;
  text-align: center;
  border-radius: 4px;
}

.bottom-text {
  font-size: 0.8rem;
}

/* NEW PROJECT */
.slim-card-content {
  padding: 0 20px 20px;
}

.new-project-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
}

.project-name-input {
  height: 30px;
  border: #999 solid 2px;
  border-radius: 4px;
  margin: 10px 0;
}

.slim .inline {
  margin: 20px 0;
}

.btn {
  background-color: var(--light-grey);
  border: var(--medium-grey) solid 2px;
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

#todayDate {
  margin-right: 10px;
}

.load-project-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding-top: 15px;
  border-top: var(--light-grey) solid 2px;
}

select {
  height: 200px;
  border: var(--light-grey) solid 2px;
  border-radius: 5px;
  margin: 15px 0;
  padding: 5px;
}

option {
  color: #444;
}

.load-project-section .inline {
  width: 90%;
  margin: 20px auto;
  justify-content: space-between;
}

.simple-btn {
  text-decoration: underline;
  background: none;
  color: var(--off-white);
  box-shadow: none;
  border: none;
  font-size: 1.1rem;
}

/* WINDOW 3 */

.window-3 {
  width: 950px;
  display: flex;
}

.window-3 .information-input {
  color: var(--off-white);
}

.left {
  width: 50%;
  margin: 0 auto;
}

.right {
  width: 50%;
  margin: 20px auto;
}

.back-section {
  display: flex;
  align-items: center;
  width: 300px;
  border-bottom: var(--medium-grey) solid 3px;
}

.back-section:hover {
  cursor: pointer;
}

.arrow {
  font-size: 1.2rem;
  margin: 10px;
}

.project-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.project-bold-font,
h3 span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blue);
}

.smaller-font {
  font-size: 1.3rem;
  width: 100%;
}

.window-3 input {
  background-color: var(--grey);
  box-shadow: none;
  border: 1px solid var(--medium-grey);
  border-radius: 5px;
  padding: 5px;
}

.window-3 input:disabled {
  border: none;
}

.drag-drop-inline {
  display: flex;
}

.drag-drop-box {
  transform: scale(0.9);
  width: 200px;
  text-align: center;
  background-color: var(--medium-grey);
  padding: 10px;
  border-radius: 5px;
  border: var(--blue) dotted 2px;
  margin: 5px;
}

.empty-box {
  transform: scale(0.9);
  text-align: center;
  width: 200px;
  border: var(--blue) dotted 2px;
  padding: 10px;
  border-radius: 5px;
}

.drag-drop-box p {
  color: var(--grey);
  font-size: 0.8rem;
  margin-top: 5px;
}

.empty-box p {
  color: var(--medium-grey);
  font-size: 0.8rem;
  margin-top: 5px;
}

.empty-box h1 {
  color: var(--medium-grey);
}

.edit-btn {
  margin: 50px 20px;
}
